.wrapper-footer {
    font-family: 'Bebas Neue', sans-serif;
    padding: 70px 0;
    background-color: rgb(38, 38, 41);
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.connect {
    font-size: 50px;
    font-weight: 700;
    color: #365FA0;
}
.connect span {
    color: yellow;
}
.copyright {
    color: wheat;
}
.footer-right {
    display: flex;
}
.footer-right h6 {
    color: wheat;
    font-size: 20px;
    /* color: yellow; */
    font-weight: 700;
    
}
.gmail {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}
.sosmed {
    display: flex;
    margin-top: 10px;
    justify-content: end;
}
.sosmed p {
    color: white;
    margin-right: 15px;
    margin-top: 2px;
    border-bottom: 2px solid white;
}
.icon-sosmed {
    margin-right: 10px;

    width: 26px;
    height: 26px;
}

@media (max-width:768px) {
    .footer-content {
        display: block;
        text-align: center;
        
    }
    .footer-left {
        margin-bottom: 30px;
    }
    .footer-left .copyright {
        display: none;
    }
    .footer-right {
        justify-content: center;
    }
    .sosmed {
        display: block;
    }
    .sosmed p {
        width: 110px;
        margin: auto;
        padding-bottom: 5px;
    }
    .icon-sosmed {
        margin-top: 20px;
        /* margin-right: 0; */
        margin: 10px;
    }
}