@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/fonts/BebasNeue-Regular.ttf');
}
.wrapper-tools{
    /* height: 300px; */
    /* background-color: rgb(192, 235, 249); */
    padding: 70px 0;
    /* position: sticky; */
    /* color: #365FA0; */
    /* font-family: 'Bebas Neue', sans-serif; */
}
.tool-judul {
    font-size: 70px;
    font-weight: 700;
    border-bottom: 1px solid #365FA0;
    font-family: 'Bebas Neue', sans-serif;
}
.cate1judul {
    margin-top: 20px;
    border-left: 3px solid #365FA0;
    padding-left: 10px;
    font-weight: 700;
}
.categ-1 p {
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 20px;
    width: 100px;
    /* height: 40px; */
    /* height: 40px; */
    border: 1px solid #365FA0;
    border-radius: 10px;
    font-weight: 500;
}

/* .cate2judul {
    margin-top: 20px;
    border-left: 3px solid black;
    padding-left: 10px;
    font-weight: 700;
} */
.card-code-lang {
    display: flex;
    flex-wrap: wrap;
}
.card-code-lang p {
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 20px;
    width: 100px;
    /* height: 40px; */
    /* height: 40px; */
    border: 1px solid #365FA0;
    border-radius: 10px;
    font-weight: 500;
}
.card-code-lang .css {
    width: 85px;
}
.card-code-lang .bootstrap {
    width: 115px;
    
}

@media (max-width:768px) {
    .tool-judul {
        font-size: 40px;
    }
    /* .card-code p {
        font-size: 11px;
    }
    .card-code-lang p {
        font-size: 11px;
    } */
}